body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F5F5;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


.navbar {
  overflow: hidden;
  background-color: white;
}

.navbar a {
  float: left;
  color: #0078FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar h3{
  float: left;
  color: #0078FF;
  text-align: center;
  font-size: 17px;
  margin-left: 40px;
}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: #0078FF;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.navbar-links {
  float: right;
  margin-right: 30px;
}



.header {
  margin: 30px 40px;
  padding: 60px;
  text-align: center;
  background: #0078FF;
  color: white;
  font-size: 30px;
  border-radius: 40px;
}


.about-us {
  margin-top: 40px;
  margin-left: 30px;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 95%;
  background: #FFFFFF;
}

.profile-img {
  width: 200px;
  height: 170px;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 50%;
}

.profile-names {
  float: right;
  margin-right: 50px;
  margin-top: 50px;

}
.profile-names table tr {
  height: 30px;
}

.profile-names table tr span {
  font-weight: bold;
}

.profile-skills {
  margin: 50px;
}

.profile-skills .skill {
  background-color: #CDE1F8;
  width: 100%;
}

.skills-list, .skill-item{
  padding-top: 20px;
}

.progress {
    float: right;
}


.profile-skills .skill .skill-length {
  background-color: #0078FF;
  height:14px;
}

.about-me h1 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  text-align: center;


  color: #000000;
}

.line{
  margin: auto;
  padding-top: -20px;
  width: 140px;
  height: 47px;
  border-bottom: 5px solid #0078FF;
  text-align: center;
}

.about-me p {
  font-size: 30px;
}

/* BLOG PART */

.blog-part {
  margin: 30px;
  width: 95%;
}

.blog-part h2 {
  text-align: center;
  font-weight: bold;
}

.blog-part p {
  text-align: center;
}

.blog-sample {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}



.blog-item .container {
  background-color: white;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-item .container img {
  height: 170px;
  width: 100%;
}

.blog-item .posted-by {
  background-color: #F5F5F5;
  border: 1px solid white;
  padding: 10px;
}

.blog-item .posted-by span {
  padding-right: 50px;
  font-style: italic;
}


/* contact us section */

.contact {
  background-image: url("../images/overlay-bg.jpg");
  height: auto;
  width: 100%;
  margin-left: 0;
  margin-top: 50px;
}

.contact .container {
  background-color: #0078FF;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.contact-us {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 60px;

}

.contact-us .contact-form {
  background-color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.contact-form h2, .contact-msg h2 {
  padding-top: 30px;
  padding-left: 40px;
}

.contact-form .umurongo, .contact-msg .umurongo {
  width: 140px;
  margin-left: 40px;
  border-bottom: 5px solid #0078FF;
  text-align: center;
}


.contact-us .contact-msg {
  background-color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}


.input1 { grid-area: input1; padding:10px; }
.input2 { grid-area: input2; padding:10px; }
.input3 { grid-area: input3; padding:10px; }
.input4 { grid-area: input4; padding:10px; }


.form-grid {
  display: grid;
  grid-template-areas:
  'input1 input2'
  'input3 input3'
  'input4 input4';
  padding: 30px;

}

input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.input3 textarea {
  width: 100%;
  height: 200px;
  resize: none;
}


.input4 input[type=submit]{
  background-color: #0078FF;
   border: none;
   color: white;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 14px;
   margin-left: 40%;
}


.msg-header {
  padding: 30px;
}

.msg-header {
  display: inline-block;
}

.msg-header span {
  padding-left: 10px;
}

.msg-header img {
  padding: 10px;
   width: 30px;
   height: 30px;
 }

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}


/* .register-container .register-form {
  grid-area: form;

}

.register-container .register-msg {
  grid-area: msg;

} */

.register-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 50px;
  padding:30px;
  border-radius: 50px;
  background-color: white;
}


.header2 {grid-area: header;}
.logo {grid-area: logo;}
.message {grid-area: message;}



.register-form .contain {
  background-color: #DEE7FD;

}


.contain .form-message {
  display: grid;
  grid-template-areas:
  'header logo'
  'message logo';
  padding: 30px;
  margin-left: 25px;

}

.register-form form input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin-top: 20px;
  margin-left: 40px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.register-form form {
  background-color: #F4F4F4;
}

.register-form form input[type=checkbox] {

  margin-top: 20px;
  margin-left: 40px;
  display: inline-block;
}

.register-form form input[type=submit]{
  background-color: #0078FF;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
   border: none;
   color: white;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 14px;
   width: 80%;
}

.register-msg {
  margin: auto;
  text-align: center;

}

.register-msg h2 {
  font-size: 40px;
  color: #0078FF;
  font-weight: bold;
}

.register-msg button {
  background-color: #0078FF;
  margin-top: 20px;

   border: none;
   color: white;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 14px;

}




.blog-container h2 {
  text-align: center;
}

.blog-container .umurongo {
  width: 140px;
  margin: auto;
  border-bottom: 5px solid #0078FF;
  text-align: center;
}

.blog-container .whole-blogs{
  background-color: white;
  margin: 40px;
}


.blog-container .blogs {

  display: grid;
  grid-template-columns: 25% 25% 50%;
  padding: 50px;
}

.images img {
  width: 100%;
}

.blogs .post-title {
  margin-left: 30px;
  margin-top: 0;
}


.blogs .post-title .button {
  background-color: #0078FF;
   border: none;
   color: white;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 14px;
   text-decoration: none;

}

.blogs .years {
  margin-left: 30px;
}

.blog-content {
  margin: 50px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.blog-content .left-side,
 .blog-content .right-side {
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  padding: 30px;
}


 .blog-content .comment-box{
   background-color: white;
   margin-left: 40px;
   margin-top: 40px;
   border-radius: 40px;
   margin-right: 40px;
   padding: 30px;
 }

.left-side img {
  width: 100%;
}

.left-side p {
  font-size: 20px;
}

.right-side {
  height: auto;
}


.blog-by {
  font-size: 20px;
  font-weight: 20px;
  margin: 40px 40px;
}


.user {grid-area: user}
.date {grid-area: date}
.text {grid-area: text}

.single-comment .comment {
  display: grid;
  grid-template-areas:
  'user date'
  'text text'
  ;
  margin: 40px 40px;
}


.user {
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-top-right-radius: 25px;
  background-color: white;
}

.date {
  text-align: center;
  padding: 5px;
}

.text {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}

.com {
  margin: 40px;
  text-align: center;
}

.com span {
  padding-top: 40px;
}

.right-side .search {
  display: grid;
  grid-template-columns: 10% 90%;
}

.holizontalLine {
  width: 5px;
  height: 40px;
  background-color: #0078FF;
}

.search h3 {
  font-size: 40px;
  margin-top: 0;
}

.right-side .searchBox {
  width: 100%;
}


.searchBox {
  display: grid;
  grid-template-columns: auto auto;
}


.searchBox .searchButton .btn {
  background-color: #0078FF;
   border: none;
   color: white;
   padding: 10px 20px;
   font-size: 21px;
   border-top-right-radius: 14px;
   border-bottom-right-radius: 14px;
   text-decoration: none;
   margin-top: 7px;
   margin-left: -15px;
}

.recents {
  background-color: white;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  padding: 30px;
}

.recents .search {
  display: grid;
  grid-template-columns: 10% 90%;
}

.recents .search h3 {
  font-size: 30px;
  margin-top: 0;
}

.recents .stories {
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 10px;
}

.recents .stories .dash {
  width: 10px;
  height: 5px;
  background-color: #0078FF;
  margin: auto;
}

.recents .stories .singl-line a {
  text-decoration: none;
}



.resume-body {
  margin: 50px;
  border: 1px solid #DEE7FD;;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.resume-body .resume {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  color: white;
  text-align: center;
  background-color: #0078FF;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

.resume-body .skills {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}


.left .skill-section, .right .skill-section {

  background-color: white;
  margin: 50px;
}

.skill-section .top-line {
  width: 100%;
  height: 10px;
  margin-left: 0;
}

#date {
  margin:30px 30px;
  color: #CBC6C6;
  margin-top: 5px;
  font-size: 15px;
}

.left h3, .right h3 {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: -20px;
}

.skill-section h3 {
  font-size: 20px;
  margin: 30px;
}

.skill-section h4{
  margin-left: 30px;
  padding-bottom: 10px;
}

.center {
  justify-content: center;
  padding: 40%;
}

.center .center-line {
  width: 10px;
  height: 800px;
  background-color: blue;
}

.lang {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}


.skill-languages {
  background-color: #0078FF;
  border-radius: 10px;
  height:18px;
}

.lang-length {
  background-color: #CDE1F8;
  border-radius: 10px;
}

#name {
  font-weight: bold;
  padding-bottom: 10px;
}


.lang-container {
  padding: 30px 0;
}
